html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--dark-text1);
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
  vertical-align: middle;
}

input,
button,
textarea {
  font-family: var(--font-inter);
  line-height: 1;
  outline: none;
}

button {
  cursor: pointer;
}