:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(146, 68%, 55%);
  --toggle: hsl(230, 22%, 74%);
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card: hsl(228, 28%, 20%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card: hsl(227, 47%, 96%);
  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
  --font-inter: "Inter", sans-serif; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--dark-text1); }

a {
  text-decoration: none;
  color: currentColor; }

img {
  display: block;
  max-width: 100%; }

svg {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle; }

input,
button,
textarea {
  font-family: var(--font-inter);
  line-height: 1;
  outline: none; }

button {
  cursor: pointer; }
